h1{
  text-align: center;
}
ion-content{
   --ion-background-color:#181a1b;
 }

.maininput{
  background-color: gray;
  height: 15vh;
  width: 35vw;
  border-radius: 10px;
  text-align: center;
  font-size: 30pt;
  margin-top: 5%;
}

#units{
  background-color: gray;
  height: 35%;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
}
