<ion-header [translucent]="true">
  <script>
    window.onload = function() {
      mainredirect()
    }
  </script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="margin: 0; height: 100%; border-radius: 0; text-align: center;">
    <ion-card-header style="display: block; margin: auto; margin-top: 30%; padding-bottom: 1%;">
      <img src="assets/logoplaceholder.png" alt="logoplaceholder" style="display: block; margin-left: auto; margin-right: auto; height: 80%; width: 80%;">
      <ion-card-title style="font-size: 17pt; margin-bottom: 0%;">Correction Dose Calculator</ion-card-title>
    </ion-card-header>

    <ion-card-content style="margin-left: 1%; margin-top: 0%;">
      keep yopur dose amount just right
    </ion-card-content>
  </ion-card>
</ion-content>
