.maininput{
  background-color: gray;
  height: 10vh;
  width: 35vw;
  border-radius: 10px;
  text-align: center;
  font-size: 30pt;
  margin-top: 5%;

}
.maininput:hover{
  box-shadow: inset 0 0 10px -5px black;
}

.line{
  border: 1px solid;
  border-color: red;
  width: 85%;
  margin: auto;
}
