.maininput{
  background-color: gray;
  height: 10vh;
  width: 35vw;
  border-radius: 10px;
  text-align: center;
  font-size: 30pt;
  margin-top: 5%;

}

.line{
  border: 1px solid;
  border-color: red;
  width: 85%;
  margin: auto;
}
